:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}
.formmoal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10006661236;
    background-color: rgba(0, 0, 0, 0.291);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    transition: 0.4s;
    align-items: center;
  }
  
  span {
    font-weight: bold;
  }
  
  .order {
    display: flex;
    justify-content: space-between;
  }
  
  .formmoal form {
    background-color: white;
    width: 500px;
    padding: 25px;
    overflow-y: scroll;
    max-width: 550px;
    height: max-content;
  }
  .formmoal .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .formmoal .head h6 {
    font-size: 16px;
    font-weight: bold;
    color: var(--blue);
  }
  
  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin: 3px 0;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: var(--dark-grey);
  }
  
  .field input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  
  .field textarea {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  
  .field select {
    width: 100%;
    background: var(--grey);
    color: var(--dark-grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
    font-size: 14px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }
  button {
    outline: none;
    border: none;
  }
  
  .buttons .addbtn {
    margin: 5px 5px;
    width: 40%;
    text-align: center;
    padding: 10px 12px;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
  }
  
  .cancelbtn {
    margin: 5px 5px;
    width: 40%;
    text-align: center;
    padding: 10px 12px;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    background-color: var(--red);
  }
  