  .sideBar{
    background: var(--whiteColor);
    box-shadow: 1px 0px 4px var(--greyText);
    width: 18%;
    height: 100%;
    gap: 3rem;
    overflow: auto;
   
    .logiDiv{
    
        cursor: pointer;

        img{
           
            max-width: 20px;
            margin-right: .5rem;
            background: var(--inputColor);
            border-radius: 2px;
            padding: .2rem;
        }

        h2{
          font-size: var(--h2FontSize);
          color: var(--PrimaryColor);
        }
    }
    
    .menuDiv, .settingDiv{
      .divTittle{
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 0 1.5rem 1.5rem ;
      }

      .menuLists{
        .listItem{
          padding: .3rem 1.5rem;

          width: 100%;
          position: relative;

          &::before{
            position: absolute;
            content: '';
            height: 0%;
            left: 0;
            width: 5px;
            bottom: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background:var(--PrimaryColor);
          }

          .menuLink{
            color: var(--greyText);
            font-weight: 500;
            transition: 0;
            .icon{
              margin-right: .5rem;
            }
          }

          &:hover .menuLink{
            color: var(--PrimaryColor);
            transition: 0;
          }

          &:hover::before{
            height: 100%;
            transition: .3s ease;
          }
        }

        .active {
          .menuLink {
            color:  var(--PrimaryColor) !important;
          }
            &::before {
              height: 100%;
            } 
        }
      }
    }

    .sideBarCard{
      width: 100%;
      padding: 1rem;
      text-align: center;
      position: relative;

      .icon{
        position: absolute;
        background: var(--HoverColor);
        border: 10px solid var(--whiteColor);
        font-size: 3rem;
        border-radius: 50%;
        top: -8px;
        right: 50%;
        transform: translate(50%);
        z-index: 100;
      }

      .cardContent{
        position: relative;
        padding: 1rem;
        background: var(--HoverColor);
        border-radius: 10px;
        overflow: hidden;

        h3{
          font-size: var(--h3FontSize);
          margin-top: 1rem;
          padding: 1rem 0;
          font-weight: 800;
          color: var(--blackColor);
        }

        p{
          font-size: var(--normalFontSize);
          color: var(--textColor);
          padding-bottom: 1rem;
          font-weight: 500;
        }

        .btn{
          position: relative;
          color: var(--textColor);
          z-index: 1000;
        }

        .circle1, .circle2{
          position: absolute;
          background: var(--paleGreen);
          border-radius: 50%;
          opacity: 7;
        }

        .circle1{
          height: 100px;
          width: 100px;
          top: -75px;
          left: -50px;
        }

        .circle2{
          height: 150px;
          width: 150px;
          bottom: -80px;
          right: -70px;
          z-index: 1;
        }

      }
    }
  }